<p>This is the browser page</p>
    <div class="navigation-buttons">
        <a href="@Url.Action("Server", "WebCommunication")" class="btn btn-outline-primary ajax-link">← Server</a>
        <a href="@Url.Action("HttpPart1", "WebCommunication")" class="btn btn-primary ajax-link">Http Part 1 →</a>
    </div>
