<p>This is the buldingsteps page</p>
    <div class="navigation-buttons">
        <a href="@Url.Action("Index", "WebApp")" class="btn btn-outline-primary">← Intro to web app</a>
        <a href="@Url.Action("Summary", "WebApp")" class="btn btn-primary">Summary of chapter →</a>
    </div>
