<p>This is the index page</p>
    <div class="navigation-buttons">
        <a href="@Url.Action("Summary", "Web")" class="btn btn-outline-primary ajax-link">← Return to previous chapter(Summary)</a>
        <a href="@Url.Action("BuldingSteps", "WebApp")" class="btn btn-primary ajax-link">BuldingSteps →</a>
    </div>
