<p>This is the summary page</p>
    <div class="navigation-buttons">
        <a href="@Url.Action("BuldingSteps", "WebApp")" class="btn btn-outline-primary">← Building Steps</a>
        <a href="@Url.Action("Index", "AdvancedWebApp")" class="btn btn-primary">Next chapter (Advanced Web App) →</a>
    </div>
