<p>This is the authorization page</p>
    <div class="navigation-buttons">
        <a href="@Url.Action("Authentication", "AdvancedWebApp")" class="btn btn-outline-primary">← .NET Identity Roles</a>
        <a href="@Url.Action("IdentityTutorial", "AdvancedWebApp")" class="btn btn-primary">Code tutorial to .NET Identity →</a>
    </div>
