<p>This is the authentication page</p>
    <div class="navigation-buttons">
        <a href="@Url.Action("IdentityRoles", "AdvancedWebApp")" class="btn btn-outline-primary ajax-link">← .NET Identity Roles</a>
        <a href="@Url.Action("Authorization", "AdvancedWebApp")" class="btn btn-primary ajax-link">Authorization →</a>
    </div>
