<p>This is the identity page</p>
    <div class="navigation-buttons">
        <a href="@Url.Action("ServiceLayer", "AdvancedWebApp")" class="btn btn-outline-primary">← ServiceLayer</a>
        <a href="@Url.Action("IdentityRoles", "AdvancedWebApp")" class="btn btn-primary">.NET Identity Roles →</a>
    </div>