<p>This is the identity turtorial page</p>
    <div class="navigation-buttons">
        <a href="@Url.Action("Authorization", "AdvancedWebApp")" class="btn btn-outline-primary ajax-link">← Authorization</a>
        <a href="@Url.Action("Summary", "AdvancedWebApp")" class="btn btn-primary ajax-link">Summary →</a>
    </div>
