<p>This is the identity roles page</p>
    <div class="navigation-buttons">
        <a href="@Url.Action("Identity", "AdvancedWebApp")" class="btn btn-outline-primary ajax-link">← .NET Identity</a>
        <a href="@Url.Action("Authentication", "AdvancedWebApp")" class="btn btn-primary ajax-link">Authentication →</a>
    </div>