<p>This is the index page</p>
    <div class="navigation-buttons">
        <a href="@Url.Action("Summary", "WebApp")" class="btn btn-outline-primary ajax-link">← Return to previous chapter(Summary)</a>
        <a href="@Url.Action("Introduction", "AdvancedWebApp")" class="btn btn-primary ajax-link">Introduction →</a>
    </div>