<p>This is the layers page</p>
    <div class="navigation-buttons">
        <a href="@Url.Action("Introduction", "AdvancedWebApp")" class="btn btn-outline-primary">← Introduction to advanced web app</a>
        <a href="@Url.Action("ControllerLayer", "AdvancedWebApp")" class="btn btn-primary">ControllerLayer →</a>
    </div>
