<p>This is the service layer page</p>
    <div class="navigation-buttons">
        <a href="@Url.Action("RepositoryLayer", "AdvancedWebApp")" class="btn btn-outline-primary ajax-link">← RepositoryLayer</a>
        <a href="@Url.Action("Identity", "AdvancedWebApp")" class="btn btn-primary ajax-link">.NET Identity →</a>
    </div>