<p>This is the summary page</p>
    <div class="navigation-buttons">
        <a href="@Url.Action("IdentityTutorial", "AdvancedWebApp")" class="btn btn-outline-primary">← Code Tutorial</a>
        <a href="@Url.Action("Summary", "AdvancedWebApp")" class="btn btn-primary">Next Chapter (404 for now) →</a>
    </div>
