<p>This is the classes oop page</p>
    <div class="navigation-buttons">
        <a href="@Url.Action("Introduction", "OOP")" class="btn btn-outline-primary ajax-link">← Introduction to OOP</a>
        <a href="@Url.Action("Constructors", "OOP")" class="btn btn-primary ajax-link">Introduction to Constructors →</a>
    </div>