<p>This is the constructors oop page</p>
    <div class="navigation-buttons">
        <a href="@Url.Action("Classes", "OOP")" class="btn btn-outline-primary ajax-link">← Classes in .NET</a>
        <a href="@Url.Action("Objects", "OOP")" class="btn btn-primary ajax-link">Objects in OOP →</a>
    </div>