<p>This is the index page</p>
    <div class="navigation-buttons">
        <a href="@Url.Action("StringArrays", "SP")" class="btn btn-outline-primary ajax-link">← Return to previous chapter(Structural Programing)</a>
        <a href="@Url.Action("Introduction", "OOP")" class="btn btn-primary ajax-link">Introduction to OOP →</a>
    </div>