<p>This is the summary oop page</p>
    <div class="navigation-buttons">
        <a href="@Url.Action("StaticReadonlyConst", "OOP")" class="btn btn-outline-primary ajax-link">← Static, ReadOnly and Const</a>
        <a href="@Url.Action("Index", "Database")" class="btn btn-primary ajax-link">Next Chapter →</a>
    </div>